<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }} - PageTitle</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'baseapp/css/bootstrap.css' %}" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid ms-lg-5">
                <a class="navbar-brand" href="{% url 'home' %}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav me-auto">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </div>
                    {% include 'baseapp/loginpartial.html' %}
                </div>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="container py-2">
            <hr/>
            <p>footer</p>
        </div>
    </footer>
    <script src="{% static 'baseapp/js/bootstrap.js' %}"></script>

    {% block scripts %}{% endblock %}

</body>
</html>