<div class="navbar-nav me-lg-5">
    {% if user.is_authenticated %}
    {% if user.is_superuser %}
    <a class="nav-link">お疲れ様です。サイト管理者 {{ user.username }}</a>
    {% elif user.is_staff %}
    <a class="nav-link">お疲れ様です。{{ user.username }}</a>
    {% else %}
    <a class="nav-link">ようこそ。 {{ user.username }}</a>
    {% endif %}
    <form id="logoutForm" action="/logout/" method="post">
        {% csrf_token %}
        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
    </form>
</div>

{% else %}
<div class="navbar-nav me-lg-5">
    <a class="nav-link " href="{% url 'login' %}">Log in</a>
</div>
{% endif %}
